---
http_interactions:
- request:
    method: get
    uri: https://aerodatabox.p.rapidapi.com/flights/number/DLH452
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Rapidapi-Key:
      - aff8d95df0msh99910495b6de7adp1614a4jsn9fc180d6d2f3
      X-Rapidapi-Host:
      - aerodatabox.p.rapidapi.com
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Tue, 14 Mar 2023 21:31:03 GMT
      X-Ratelimit-Free-Tier-Limit:
      - '2000'
      X-Ratelimit-Free-Tier-Remaining:
      - '2000'
      X-Ratelimit-Free-Tier-Reset:
      - '2677053'
      X-Ratelimit-Tier-4-%28flight-Alert-Api%29-Limit:
      - '25'
      X-Ratelimit-Tier-4-%28flight-Alert-Api%29-Remaining:
      - '25'
      X-Ratelimit-Tier-4-%28flight-Alert-Api%29-Reset:
      - '2677053'
      X-Ratelimit-Tier-2-Limit:
      - '250'
      X-Ratelimit-Tier-2-Remaining:
      - '244'
      X-Ratelimit-Tier-2-Reset:
      - '2677053'
      X-Ratelimit-Tier-3-Limit:
      - '250'
      X-Ratelimit-Tier-3-Remaining:
      - '250'
      X-Ratelimit-Tier-3-Reset:
      - '2677053'
      X-Ratelimit-Tier-1-Limit:
      - '250'
      X-Ratelimit-Tier-1-Remaining:
      - '250'
      X-Ratelimit-Tier-1-Reset:
      - '2677053'
      X-Rapidapi-Version:
      - 1.2.8
      X-Rapidapi-Region:
      - AWS - us-east-1
    body:
      encoding: ASCII-8BIT
      string: '[{"greatCircleDistance":{"meter":9626517.14,"km":9626.517,"mile":5981.64,"nm":5197.903,"feet":31583061.49},"departure":{"airport":{"icao":"EDDM","iata":"MUC","name":"Munich","shortName":"Munich","municipalityName":"Munich","location":{"lat":48.3538,"lon":11.7861},"countryCode":"DE"},"scheduledTimeLocal":"2023-03-14
        12:20+01:00","actualTimeLocal":"2023-03-14 12:20+01:00","scheduledTimeUtc":"2023-03-14
        11:20Z","actualTimeUtc":"2023-03-14 11:20Z","terminal":"2","quality":["Basic","Live"]},"arrival":{"airport":{"icao":"KLAX","iata":"LAX","name":"Los
        Angeles","shortName":"Los Angeles","municipalityName":"Los Angeles","location":{"lat":33.9425,"lon":-118.408},"countryCode":"US"},"scheduledTimeLocal":"2023-03-14
        16:25-07:00","scheduledTimeUtc":"2023-03-14 23:25Z","terminal":"B","quality":["Basic"]},"lastUpdatedUtc":"2023-03-14
        12:01Z","number":"LH 452","callSign":"DLH452","status":"Departed","codeshareStatus":"IsOperator","isCargo":false,"aircraft":{"reg":"D-AIXH","modeS":"3C6708","model":"Airbus
        A350"},"airline":{"name":"Lufthansa","iata":"LH","icao":"DLH"}}]'
  recorded_at: Tue, 14 Mar 2023 21:31:03 GMT
recorded_with: VCR 6.1.0
