---
http_interactions:
- request:
    method: get
    uri: https://api.geoapify.com/v1/geocode/search?apiKey=<geoapify_key>&countryUnited%2BStates&lang=en&limit=1&postcode=80241&text=Denver&type=city
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - '1.0'
      Content-Disposition:
      - inline; filename=response.geojson
    body:
      encoding: ASCII-8BIT
      string: '{"type":"FeatureCollection","features":[{"type":"Feature","geometry":{"type":"Point","coordinates":[-104.985798,39.740959]},"properties":{"country_code":"us","country":"United
        States","county":"Denver County","datasource":{"sourcename":"whosonfirst","url":"https://www.whosonfirst.org/docs/licenses/"},"state":"Colorado","city":"Denver","lon":-104.985798,"lat":39.740959,"state_code":"CO","formatted":"Denver,
        CO, United States of America","address_line1":"Denver, CO","address_line2":"United
        States of America","timezone":{"name":"America/Denver","offset_STD":"-07:00","offset_STD_seconds":-25200,"offset_DST":"-06:00","offset_DST_seconds":-21600,"abbreviation_STD":"MST","abbreviation_DST":"MDT"},"result_type":"city","rank":{"popularity":7.869565382548606,"confidence":1,"confidence_city_level":1,"match_type":"full_match"},"place_id":"51959d7e50173f5ac059a35698bed7de4340c00208e2031d77686f736f6e66697273743a6c6f63616c6974793a3835393238383739"},"bbox":[-105.109967,39.614311,-104.599581,39.914209]}],"query":{"text":"Denver","parsed":{"postcode":"80241","city":"denver","expected_type":"postcode"}}}'
  recorded_at: Sat, 25 Feb 2023 01:08:58 GMT
recorded_with: VCR 6.1.0
